/array.php
/forms_result.php
/get.php
/get_confirm.php
/hairetsu.php
/hensu.php
/inc
/include.php
/index.php
/input.php
/kansu.php
/omikuji.php
/phpinfo.php
/post_confirm.php
/test.php
/test2.php
/test3.php
/write copy.php
/write.php